@layer own {
	:root {
		--bezier: all 0.2s cubic-bezier(0.1, -2.2, 1, 2.2);
	}
	
	.todo-list-item:hover span[role=checkbox] {
		border-color: gray;
	}
	.todo-list-item--completed div[role=group] button {
		opacity: 0.3;
	}

	.footer__text-separator--hide-on-small-screens {
		display: none;
	}

	@media screen and (min-width: 700px) {
		.footer__text-separator--hide-on-small-screens {
			display: unset;
		}
	}

	.footer__text-link {
		transition: var(--bezier);
	}

	.footer__home {
		transition: var(--bezier) 0.1s, box-shadow 0.2s ease,
			width 0.2s cubic-bezier(0.47, 0, 0.59, 1) 0.25s;
	}

	.footer__home_svg {
		transition: var(--bezier) 0.1s;
	}

	.footer__home:hover .footer__home_svg {
		opacity: 0.7;
	}

	@media screen and (min-width: 960px) {
		.footer__home:hover {
			border-color: #00000014;
			background-color: #00000010;
			width: 160px;
			box-shadow: 0 0 5px #00000050;
		}

		.dark .footer__home:hover {
			border-color: #ffffff14;
			background-color: #ffffff10;
			width: 160px;
			box-shadow: 0 0 5px #ffffff50;
		}

		.footer__home:hover .footer__home-text {
			width: 38px;
			color: #00000090;
			margin-left: 0.9em;
			transition: color 0.2s ease-in-out 0.5s;
		}

		.dark .footer__home:hover .footer__home-text {
			color: #ffffff90;
		}
	}

	.atp {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		margin: 5px 0 0 3px;
		/* border: 1px solid #00000000; */
		--atp-cog-inactive: #00000060;
		--atp-cog-active: #000000ff;
		--atp-text: #000000;
		--atp-bg: #f0f0f0;
		--atp-border: #00000080;
		--atp-shadow: #00000080;
	}

	@media (width >= 48rem) {
		.atp {
			margin: 14px 0 0 14px;
		}
	}
	
	.dark .atp {
		--atp-cog-inactive: #ffffff60;
		--atp-cog-active: #ffffffff;
		--atp-text: #ffffff;
		--atp-bg: #303038;
		--atp-border: #ffffff80;
		--atp-shadow: #000000f0;
	}

	.atp a {
		text-decoration: underline;
	}

	.atp__cog {
		width: 56px;
		height: 56px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.atp__cog svg {
		transform: scale(1.1);
		display: block;
		padding-bottom: 0;
	}

	.atp__cog .svg-cog {
		transform-origin: center;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-name: spinAnimation;
		animation-play-state: paused;
		transition: fill 0.25s ease-in-out;
	}

	.atp__cog .svg-cog, .atp__cog .svg-qm {
		fill: var(--atp-cog-inactive);
	}

	@keyframes spinAnimation { 
		from {
			transform: rotate(0);
		}	
		to { 
			transform: rotate(360deg);
		} 
	}

	.atp--active .svg-cog {
		animation-play-state: running;
		fill: var(--atp-cog-active);
	}

	.atp--active .svg-qm {
		fill: var(--atp-cog-active);
	}

	.atp__header {
		border: 0;
		padding: 0;
		margin: 0;
		width: 58px;
		background: unset;
		position: absolute;
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: 5px;
		z-index: 1002;
		cursor: pointer;
	}

	.atp__title {
		display: none;
		color: var(--atp-text);
		text-align: left;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 4px;
		opacity: 0;
		transition: opacity 0.25s ease-in-out;
	}

	.atp--active .atp__title {
		display: block;
		opacity: 1;
	}

	.atp--active .atp__header {
		width: 262px;
	}

	@media all and (min-width: 500px) {
		.atp__header {
			width: 262px;
		}

		.atp__title {
			display: block;
		}
	}

	@media (pointer: fine) {
		.atp__header:hover .svg-cog {
			animation-play-state: running;
			fill: var(--atp-cog-active);
		}

		.atp__header:hover .svg-qm {
			fill: var(--atp-cog-active);
		}

		.atp__header:hover .atp__title {
			opacity: 1;
		}
	}

	.atp main {
		display: none;
		z-index: 1001;
		transition: opacity 0.25s ease-in-out;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 25px 0 0 0;
		background-color: var(--atp-bg);
		text-align: left;
		font-size: 11px;
		border: 1px solid var(--atp-border);
		box-shadow: 0 0 5px var(--atp-shadow);
		padding: 55px 15px 4px;
	}

	.atp--active main {
		display: block;
		width: 300px;
	}

	.atp main p {
		line-height: 16px;
		text-align: justify;
		margin: 12px 0;
	}

	.atp main p:first-child {
		margin-top: 0;
	}

	.atp main a {
		font-weight: bold;
		color: var(--atp-text);
	}

	.atp main a:hover {
		opacity: 0.8;
	}

	.atp main h1 {
		font-size: 14px;
		font-weight: bold;
	}

	.atp main span {
		opacity: 0.65;
	}
}